#canvas-new {
  border: solid black 1px;
}


/* Hide inactive tabs */
.tabs-content li {
    display: none;
    list-style: none;
}

.tabs-content li.is-active {
    display: block;
}

.symbol-btn {
  cursor: pointer;
  margin: 3px;
}

.symbol-btn:hover {
  margin: 0;
  border: 3px solid grey;
}
